extends ../about

block content
    h2 Books I Re-Read Or Refer

    h3 Technical

    table.table.table-bordered.table-striped.table-condensed.bs-docs-grid
        tr.tablerow
            td Design Patterns: Elements of Reusable Object-Oriented Software by the Gang of Four
            td Effective Java by Joshua Bloch
            td Memory management in the Java VM
        tr.tablerow
            td The Well Grounded Java Developer
            td Enterprise JavaBeans 3.1 by OReilly
            td Functional Programming for Java Developers
        tr.tablerow
            td Programming Concurrency on the JVM
            td Java Concurrency In Practice
            td Programming in Scala
        tr.tablerow
            td In Action Series by Manning: ActiveMQ, Struts2, Camel etc
            td Definitive Guide Series by ORielly and Apress: Hadoop, Cassandra, Maven, MongoDB, WebSocket etc
            td The Visual Display of Quantitative Information
        tr.tablerow
            td Information Dashboard Design
            td JavaScript - The Good Parts by Douglas Crockford
            td Getting Started with D3
        tr.tablerow
            td Beautiful Data
            td Beautiful Code


    h3 Non Technical But Related To The Software Industry

    table.table.table-bordered.table-striped.table-condensed.bs-docs-grid
        tr.tablerow
            td The Inmates Are Running the Asylum
            td Steve Jobs by Walter Isaacson
            td How to lie with statistics
