extends ../about

block content
    h2 Movies

    ul
        li I love non-fiction. And even if they are fictional, I love movies that leave me feeling better about the world and myself - uplifting sort…
        li The order below is completely random. By no means can I rank them.
        li These are the movies that I dont mind watching again after every few years... (there are other movies like Batman that I have liked but I dont carry a strong urge to see them again)
        li I do not have a liking for slapstick comedy or horror

    h3 English

    table.table.table-bordered.table-striped.table-condensed.bs-docs-grid
        tr.tablerow
            td The World's Fastest Indian
            td Inside Job
            td The Pursuit of Happyness
            td Thirteen Days
            td All the President's Men
            td The Shawshank Redemption
            td Hotel Rwanda
            td Defiance
            td Frost Nixon
            td Invictus
            td Margin Call
            td Searching for Sugar Man
        tr.tablerow
            td The Terminal
            td Last King of Scotland
            td Argo
            td Blood Diamond
            td Charlie Wilson's War
            td Saving Private Ryan
            td Cast Away
            td Lincoln
            td Bruce Almighty
            td Schindlers list
            td Bridge on the River Kwai
            td The Thin Red Line
        tr.tablerow
            td Letters from Iwo Jima
            td Munich
            td A Beautiful Mind
            td Gladiator
            td 300
            td Apocalypto
            td The King's Speech
            td Valkyrie


    h3 Hindi


    h3 Kannada

