extends ../about

block content
  h3 Torrents
    h4 Kumaravyasa Bharata | ಕುಮಾರವ್ಯಾಸ ಭಾರತ
      h5 Vachana: Sri Hosahalli Keshavamurthy | ವಾಚನ: ಶ್ರೀ ಹೊಸಹಳ್ಳಿ ಕೇಶವಮೂರ್ತಿ
      h5 Vyakhyana: Sri Muthoor Krishnamurthy | ವ್ಯಾಖ್ಯಾನ: ಶ್ರೀ ಮತ್ತೂರು ಕೃಷ್ಣಮೂರ್ತಿ
      h6 Credits:Bharatiya Vidya Bhawan | ಭಾರತೀಯ ವಿದ್ಯಾ ಭವನ
      p.
        The torrent is MP3 of all 200 episodes -        
      <a href="http://kickass.to/kumaravyasa-bharata-t8789351.html"><img src="//kickass.to/torrentwidget/AE0541F50591D73A735587F5BE18D027AA8B9A16.png"></a>
  <hr>

  h4 DVG's Mankutimmana Kagga | ಡಿವಿಜಿ ಯವರ ಮಂಕುತಿಮ್ಮನ ಕಗ್ಗ
    h5 Sung by Swami Brahmanandaji for Nityaparayana | ಹಾಡಿರುವವರು ಸ್ವಾಮಿ ಬ್ರಹ್ಮಾನಂದಜಿ
    h5 Credits:Chinmaya Mission | ಚಿನ್ಮಯ ಮಿಶನ್
    p.
      The torrent is a MP3 of singing of chosen sholkas -      
    <a href="http://kickass.to/nityaparayana-mp3-t8914385.html"><img src="//kickass.to/torrentwidget/9DD0524BF7AD4A05A3DA08E2698F4EB3A4FFC98C.png"></a>
  <hr>
  
  h4 DVG's Mankutimmana Kagga | ಡಿವಿಜಿ ಯವರ ಮಂಕುತಿಮ್ಮನ ಕಗ್ಗ
    h5 Sung by Swami Brahmanandaji along with Upanyasa | ಹಾಡಿರುವವರು ಸ್ವಾಮಿ ಬ್ರಹ್ಮಾನಂದಜಿ
    h6 Credits:Chinmaya Mission | ಚಿನ್ಮಯ ಮಿಶನ್
    p.
      The torrent is a MP3 of 6 volumes of Upanyasa on chosen sholkas -      
    <a href="http://kickass.to/dvg-s-mankutimmana-kagga-sung-by-swami-brahmanandaji-along-with-upanyasa-t8914402.html"><img src="//kickass.to/torrentwidget/1F5AC31875391991555490BBAE08AD369AF906AA.png"></a>